<p></p>
<h1 class="text-center">Angular Reactive Forms</h1>
<p></p>
<div class="card ">
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-6 border border-primary">
          <p></p>
          <app-basic></app-basic>
          <p></p>
        </div>
        <div class="col-6 border border-secondary">
          <p></p>
          <app-group></app-group>
          <p></p>
        </div>
      </div>

      <p></p>
      <hr style="height:10px;border:none;color:red;background-color:blue;">
      <p></p>
      <div class="row">
        <div class="col-6 border border-warning">
          <p></p>

          <app-nested-group></app-nested-group>

        </div>
        <div class="col-6 border border-danger">
          <p></p>
          <app-builder></app-builder>
        </div>
      </div>

      <div class="row">
        <div class="col-12 border border-dark">
          <app-formarray></app-formarray>
          <div>
          </div>
        </div>

      </div>
    </div> <!-- card.// -->

    <router-outlet></router-outlet>
